extends layout

block head
    h1(class="header-title") Bonjour ! Chasse au trésor 2016

block cont
    p Bonjour et bienvenue à la chasse au trésor 2016 blahblah
    h2 Les règles
    p ...
    h2 Les épreuves
    p ...
    h2 Allez-y
    p ... Bouton Go !
