extends layout

block head
    .container-fluid.challenge-head.questionnaire
        .row
            .col-sm-10
                p(style='margin-bottom: .5rem') Épreuve 2:
                h2
                    span.mark Course contre la montre
            .col-sm-2
                p.lead.text-xs-center(style='margin-top: 2rem')
                    span#runTime --m --s

block cont
    .challenge-body.questionnaire
        .container-fluid#introSection
            .row
                .col-sm-8
                    p Bravo! Voici la deuxième épreuve de votre défi.
                    ul
                        li
                            p Remplissez le formulaire avec les bonnes réponses.
                        li
                            p Vous pouvez essayer autant de réponses que vous le voulez.
                        li
                            p Vous avez quinze (15) minutes!
                        li
                            p ps. Mettez vos bottes et vos manteaux avant de commencer ;)
                        li
                            p ps. Attention! Dehors, ça glisse.
            br
            br
            p.text-xs-center
                button.btn.btn-secondary#courirStartTrigger Commencer cette épreuve

        .container-fluid#courirSection(style='display:none')
            .row
                .col-sm-5
                    h1 Course #1
                    div
                        a(href='/photos/photo_borne.png' target='_blank')
                            img(class='courir-photo' src='/photos/photo_borne.png')
                    div
                        h2 Numéro de la borne?
                        input#courirRep1(name='answer_borne' class='input courir-input courir-input-borne')
                .col-sm-2
                .col-sm-5
                    h1 Course #2
                    div
                        a(href='/photos/photo_rbq.png' target='_blank')
                            img(class='courir-photo' src='/photos/photo_rbq.png')
                    div
                        h2 Numéro de la régie du bâtiment du Québec??
                        input#courirRep2(name='answer_rbq' class='input courir-input courir-input-rbq')
            .row
                .col-sm-5
                    h1 Course #3
                    div
                        a(href='/photos/tension.jpg' target='_blank')
                            img(class='courir-photo' src='photos/tension.jpg')
                    div
                        h2 Installation sous tension! Numéro de code Hydro-Québec?
                        input#courirRep3(name='answer_tension' class='input courir-input courir-input-tension')
                .col-sm-2
                .col-sm-5
                    h1 Course #4
                    div
                        a(href='/photos/escalier.jpg' target='_blank')
                            img(class='courir-escalier' src='/photos/escalier.jpg')
                    div
                        h2 Combien de marches montées au total?
                        input#courirRep4(name='answer_escalier' class='input courir-input courir-input-excalier')


            button.btn.btn-secondary.btn-lg#btnSubmit Soumettre

block otherScripts
    script(src='/scripts/courir.js')