doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.snowy
      div.header-div
        div
          img.header-image(src="/resources/sapin.png")
        div
          block head

    block cont
