extends layout

block head
    .container-fluid.challenge-head.questionnaire
        .row
            .col-sm-12
                h2
                    span.mark Épreuve mathématique de consolation

block cont
    .challenge-body.questionnaire
        .container-fluid#introSection
            .row
                .col-sm-8
                    p Bouh! Vous avez raté la course contre la montre.
                    ul
                        li
                            p Vous savez pas courir, mais peut-être que vous savez calculer.
                        li
                            p SVP, Veuillez donner une réponse arrondie à 100 position décimales

            br
            br
            p.text-xs-center
                button.btn.btn-secondary#mathsStartTrigger Commencer cette épreuve

        .container-fluid#mathsSection(style='display:none')
            .row
                .col-sm-12
                    img(src='/photos/maths.png' style='width:400px')
            .row
                .col-sm-3
                .col-sm-6
                    input(style='width:600px')#answer
                .col-sm-3
                    button.btn.btn-secondary.btn-lg#btnSubmit Soumettre




block otherScripts
    script(src='/scripts/maths.js')