extends layout

block head
    h1(class="header-title") Questionnaire débilitant

block cont
    ul
        each question in global.donnees.questionnaire.questions
            li question.question

//    div(class="p1-question") question
//    div(class="p1-response") réponse
