extends layout

block head
  .container-fluid.challenge-head.questionnaire
    .row
      .col-sm-10
        p(style='margin-bottom: .5rem') Épreuve 1:
        h2
          span.mark Questionnaire débilitant
      .col-sm-2
        p.lead.text-xs-center(style='margin-top: 2rem')
          span#quizTime 10:00

block cont
  .challenge-body.questionnaire
    .container-fluid#introSection
      .row
        .col-sm-8
          p Voici la première épreuve de votre défi.
          ul
            li
              p Le questionnaire comporte un temps total. Le temps commencera à s'écouler aussitôt que vous serez présenter la première question.
            li
              p Chaque question comporte un temps de réponse. Si le temps s'écoule, vous serez rediriger à la première question.
            li
              p Si vous ne choisissez pas la réponse attendue, vous serez rediriger à la première question.
            li
              p Finalement, faites attention! Il faut répondre la mauvaise réponse!
      br
      br
      p.text-xs-center
        button.btn.btn-secondary#questionStartTrigger Commencer cette épreuve

    .container-fluid#questionSection(style='display:none')
      .row
        .col-sm-10
          p(style='margin-bottom: .5rem') Question #1:
          h3
            span#questionTitle Quelle est la couleur de la banane?
        .col-sm-2
          p.lead.mark.text-xs-center(style='margin-top: 2rem')
            span#questionTime 5
            br
            small sec
      form(action='/questionnaire/nextquestion')
        fieldset.form-group
          .form-check
            label.form-check-label
              input.form-check-input(type='radio', name='answer', value='1')
              span#questionChoice1 Jaune
          .form-check
            .form-check-label
              input.form-check-input(type='radio', name='answer', value='2')
              span#questionChoice2 Bleu
        .text-xs-center
          button.btn.btn-primary(type='submit') Soumettre

block otherScripts
  script(src='/scripts/questionnaire.js')
