extends layout

block head
  .container.challenge-head.questionnaire
    .row
      .col-sm-10
        p(style='margin-bottom: .5rem') Épreuve 1:
        h2
          span.mark Questionnaire débilitant
      .col-sm-2
        p.lead.text-xs-center(style='margin-top: 2rem')
          span#quizTime --m --s

block cont
  .challenge-body.questionnaire
    .container#introSection
      .row
        .col-sm-8
          p Voici la première épreuve de votre défi.
          ul
            li
              p Le questionnaire comporte un temps total de 15 minutes. Le temps commencera à s'écouler aussitôt que vous serez présenter la première question.
            li
              p Chaque question comporte un temps de réponse. Si le temps s'écoule, vous serez redirigé à la première question.
            li
              p Si vous ne choisissez pas la réponse attendue, vous serez rediriger à la première question.
            li
              p Finalement, faites attention! Il faut répondre la <b>mauvaise réponse</b>!
      br
      br
      p.text-xs-center
        button.btn.btn-secondary#questionStartTrigger Commencer cette épreuve

    .container#questionSection(style='display:none')
      .row
        .col-sm-6
          p#previousTimeoutMessage.alert.alert-danger(style="visibility: hidden") La délai de la dernière question a été dépassé.
        .col-sm-6
          p#previousErrorMessage.alert.alert-danger(style="visibility: hidden") Vous n'avez pas entré la réponse attendue.
      .row
        .col-sm-10
          .row
            .col-sm-12
              p(style='margin-bottom: .5rem') Question #1:
                h3
                  span#questionTitle
            .col-sm-6.offset-sm-0.col-md-5.offset-md-1.col-lg-4.offset-lg-2.text-xs-right(style='padding-top: 30px; padding-bottom: 30px')
              button.btn.btn-secondary.mx-auto(style='width: 200px')#questionChoiceLeft
            .col-sm-6.col-md-5.col-lg-4.text-xs-left(style='padding-top: 30px; padding-bottom: 30px')
              button.btn.btn-secondary.mx-auto(style='width: 200px')#questionChoiceRight
        .col-sm-2
          p.lead.mark.text-xs-center(style='margin-top: 2rem')
            span#questionTime(style='font-size: 56px') 5
            br
            small sec

block otherScripts
  script(src='/scripts/questionnaire.js')
