extends layout

block head
    h1(class="header-title") Déchiffre-moi ça !
block cont
    ul
        each q in global.donnees.secret.questions
            h2= q.question
                h3= q.description

//    div(class="p1-question") question
//    div(class="p1-response") réponse
